.benefits {

	&__heading {
		@include adaptiveValue("margin-bottom", 50, 50);
	}

	// .benefits__title

	&__title {
		max-width: 755px;
	}

	// .benefits__cards

	&__cards {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("row-gap", 50, 20);
		margin: 0 -14.5px;
		@include adaptiveValue("margin-bottom", 50, 25);
	}

	// .benefits__card

	&__card {
		flex: 1 1 50%;
		padding: 0 14.5px;
		min-width: 500px; 
		@media (max-width: 650px) {
			min-width: 100%;
		}
	}
}
.card-benefits {

	// .card-benefits__body

	&__body {
		display: flex;
		@media (max-width: 650px) {
			flex-direction: column;
			row-gap: 30px;
		}
	}

	// .card-benefits__image

	&__image {
		flex: 0 0 75px;
		height: 75px;
		position: relative;
		&::before {
			content: '';
			background-image: url(./../../images/benefits/benefit-decor.png);
			background-repeat: no-repeat;
			width: 110px;
			height: 145px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);
		}
		@media (max-width: 650px) {
			align-self: flex-start;
		}
		img {
			width: 100%;
			height: 100%;
			// object-fit: cover;
		}
	}

	// .card-benefits__content

	&__content {
		@include adaptiveValue("padding-left", 45, 20);
		@media (max-width: 650px) {
			padding-left: 0;
		}
	}

	// .card-benefits__description

	&__description {
	}
}
.benefits {

	// .benefits__actions

	&__actions {
	}
}
.actions-benefits {
	display: flex;
	justify-content: center;
	align-items: center;
	&>:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}

	// .actions-benefits__button

	&__button {
		@include adaptiveValue("padding-left", 110, 40);
		@include adaptiveValue("padding-right", 110, 40);
		@media (max-width: 820px) {
			width: 100%;
		}
	}
}